:root {
  --google-gray: #202124;
  --google-light-gray: #202124;
  --google-dark-gray: #202124;
  --google-very-light-gray: #bdc1c6;
  --google-off-white: #dedede;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #202124;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* NAV BAR START */

#nav {
  width: 100%;
  box-sizing: border-box;
  height: 60px;
  padding: 6px;
  display: flex;
  align-items: center;
}

#about {
  margin: 0 5px 0 15px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--google-very-light-gray);
}

#about:hover {
  text-decoration: underline;
}

#store {
  margin: 0 5px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--google-very-light-gray);
}

#store:hover {
  text-decoration: underline;
}

#navSectionRight {
  width: 100%;
  height: 48px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#appAndProfileContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
  width: fit-content;
  height: 100%;
}

#mailAndImagesSection {
  width: 121px;
  height: fit-content;
}

#mailAndImagesSection a {
  font-family: arial, sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--white);
  padding-left: 15px;
}

#mailAndImagesSection a:hover {
  text-decoration: underline;
}

#profileAndAppsSection {
  display: flex;
  align-items: center;
}

#appIconBox {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

#appIconBox:hover {
  border-radius: 50%;
  background-color: #303033;
}

#apps {
  display: grid;
  place-content: center;
}

#profileImageBox {
  height: 40px;
  width: 40px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profileImageBox:hover {
  border-radius: 50%;
  background-color: #303033;
}

#profileImageBox a {
  width: 32px;
  height: 32px;
}

#profileImage {
  border-radius: 50%;
}

.googleAppsIcon {
  width: 24px;
  height: 24px;
  filter: invert(99%) sepia(0%) saturate(2599%) hue-rotate(299deg) brightness(118%) contrast(74%);
}

#profileImage {
  height: 32px;
  width: 32px;
}

/* NAV BAR END */


/* HEADER SECTION START */

#header {
  min-height: 92px;
  max-height: 290px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

#header div {
  display: block;
  max-height: 92px;
  margin-top: auto;
  position: relative;
}

#headerLogo {
  max-height: 92px;
}
/* HEADER SECTION END */


/* CONTENT SECTION START */

#mainContentSection {
  max-height: 160px;
  padding: 20px;
  box-sizing: border-box;
}

#mainContent {
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
}

#searchBar {
  height: 44px;
  width: auto;
  max-width: 584px;
  border: 1px solid #5f6368;
  border-radius: 24px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 8px 0 14px;
}

#searchIconContainer {
  width: 20px;
  height: 20px;
  padding-right: 13px;
}

#searchIcon { 
  width: 100%;
  height: 100%;
}

#searchIcon path {
  width: 100%;
  height: 100%;
  fill: #9aa0a6;
}

#searchBarTxt {
  background: transparent;
  border: none;
  width: 100%;
  height: 34px;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 3px;
  outline: none;
  font-family: arial,sans-serif;
}

#searchBar:hover {
  background-color: #303134;
  border: 1px solid #303134;
  box-shadow: 0 4px 6px 0 #171717;
}

#searchBar:focus {
  background-color: #303134;
}

#contentButtonBox {
  padding-top: 18px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.contentButton {
  margin: 11px 0;
  border: 1px solid #303134;
  background-color: #303134;
  border-radius: 4px;
  height: 36px;
  min-width: 54px;
  font-size: 1.4rem;
  color: #e8eaed;
  padding: 0 16px;
  font-family: arial,sans-serif;
}

.contentButton:hover {
  cursor: pointer;
}

.contentButton:hover {
  border: 1px solid #5f6368;
}
/* CONTENT SECTION END */


/* LANG TIP SECTION START */

#langTipSection {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 0;
}

#langTip {
  font-size: 1.4rem;
  font-size: small;
  line-height: 28px;
  font-family: arial,sans-serif;
  color: #bdc1c6;
  margin-bottom: 24px;
}

#langTip a {
  color: #8ab4f8;
  text-decoration: none;
  padding: 0 3px;
}

#langTip a:hover {
  text-decoration: underline;
}

/* LANG TIP SECTION END */


/* FOOTER START */

#footer {
  background-color: #171717;
  position: relative;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}

#footerRegion {
  padding: 15px 30px;
  font-family: arial,sans-serif;
  font-size: 1.5rem;
  color: #9aa0a6;
  border-bottom: 1px solid #212327;
}

#footerNav {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.footerLink {
  padding: 15px;
  font-size: 1.4rem;
  color: #999da2;
  font-family: arial,sans-serif;
  text-decoration: none;
}

.footerLink:hover {
  text-decoration: underline;
}
/* FOOTER END */


@media screen and (max-width: 680px) {
  #footerNav {
    flex-direction: column;
    align-items: center;
  }

  .footerNavBox {
    display: flex;
    flex-direction: row !important;
  }

  #langTipSection {
    margin-bottom: 200px;
  }
}