:root {
  --google-gray: #202124;
  --google-light-gray: #202124;
  --google-dark-gray: #202124;
  --google-very-light-gray: #bdc1c6;
  --google-off-white: #dedede;
  --white: #ffffff;
}

html {
  font-size: 62.5%;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  margin: 0;
  background-color: #202124;
}

/* NAV BAR START */

#nav {
  box-sizing: border-box;
  height: 60px;
  padding: 6px;
  display: flex;
  align-items: center;
}

#about {
  margin: 0 5px 0 15px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--google-very-light-gray);
}

#about:hover {
  text-decoration: underline;
}

#store {
  margin: 0 5px;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--google-very-light-gray);
}

#store:hover {
  text-decoration: underline;
}

#navSectionRight {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#appAndProfileContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
  width: fit-content;
  height: 100%;
}

#mailAndImagesSection {
  width: 121px;
  height: fit-content;
}

#mailAndImagesSection a {
  font-family: arial, sans-serif;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--white);
  padding-left: 15px;
}

#mailAndImagesSection a:hover {
  text-decoration: underline;
}

#profileAndAppsSection {
  display: flex;
  align-items: center;
}

#appIconBox {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

#appIconBox:hover {
  border-radius: 50%;
  background-color: #303033;
}

#apps {
  display: grid;
  place-content: center;
}

#profileImageBox {
  height: 40px;
  width: 40px;
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profileImageBox:hover {
  border-radius: 50%;
  background-color: #303033;
}

#profileImageBox a {
  width: 32px;
  height: 32px;
}

#profileImage {
  border-radius: 50%;
}

.googleAppsIcon {
  width: 24px;
  height: 24px;
  filter: invert(99%) sepia(0%) saturate(2599%) hue-rotate(299deg) brightness(118%) contrast(74%);
}

#profileImage {
  height: 32px;
  width: 32px;
}

/* NAV BAR END */


/* HEADER SECTION START */

#header {
  min-height: 92px;
  max-height: 290px;
}

/* HEADER SECTION END */


/* CONTENT SECTION START */

#mainContent {
  max-height: 160px;
}

/* CONTENT SECTION END */


/* LANG TIP SECTION START */

#langTip {

}

/* LANG TIP SECTION END */


/* FOOTER START */

#footer {

}

/* FOOTER END */